<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Our future is on the ballot</span>
            <div class="text-6xl text-primary font-bold mb-3">There are three ways to cast your ballot: </div>
            <p class="mt-0 mb-4 text-700 line-height-3">1. Early Voting: Don’t wait until Election Day! You can vote early in person starting on October 28.</p>
            <p class="mt-0 mb-4 text-700 line-height-3">2. Vote by Mail: You can request an absentee ballot if you have a valid reason, such as being away from Pennsylvania on Election Day.</p>
            <p class="mt-0 mb-4 text-700 line-height-3">3. Election Day: Polls are open on Election Day from 6am-9pm.</p>
               
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/demo/images/blocks/hero/vote.jpeg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    


</div>