
#partyStyle .p-dropdown.p-component{
    width: 100% !important;
}

#partyStyle {
    font-size: x-large;
}

@media screen and (max-width: 576px) {
    .mw-full {
        max-width: 100%!important;
    }
}