<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">If you can’t vote in person</span>
            <div class="text-6xl text-primary font-bold mb-3">vote by mail: </div>
            <p class="mt-0 mb-4 text-700 line-height-3">To vote by mail you must request an absentee ballot from the Board of Elections. Accessible absentee ballots that can be read by a screen reader are also available for voters who are visually impaired. </p>
               
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/demo/images/blocks/hero/mail.jpeg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    
    <div class="col-12 ">
        <div class="card">
            <span class="block text-3xl font-bold mb-3 mt-3"></span>
            <p-accordion>
                <p-accordionTab header="Online" [selected]="true" class="line-height-3 m-0">
                   
                    <p>Online: &nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">You can request an absentee ballot from the NYC Board of Elections website. It takes less than two minutes!</li>
                    </ul>


                </p-accordionTab>
                <p-accordionTab header="By Mail" [selected]="true" class="line-height-3 m-0">
                   
                    <p>By Mail&nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">To request an absentee ballot by mail, fill out a paper request form and mail it to your local NYC Board of Elections office.</li>
                    </ul>

                </p-accordionTab>
                <p-accordionTab header="Phone" [selected]="true" class="line-height-3 m-0">
                   
                    <p>Phone&nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">You can also call the NYC Board of Elections to ask for a ballot request form. Call 1-866-VOTE-NYC (1-866-868-3692).</li>
                    </ul>

                </p-accordionTab>
                
            </p-accordion>

        </div>

</div>