<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Your choices impact </span>
            <div class="text-6xl text-primary font-bold mb-3">Pennsylvania every day.</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Elected officials make decisions that impact jobs, housing, healthcare, education, and more. </p>
            <p class="mt-0 mb-4 text-700 line-height-3">That’s why it’s important to not only know who the candidates are, but also what their jobs would be if elected.  </p>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/demo/images/landing/votes-4.jpg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%) ;height:400px!important;">
    </div>
    <div class="col-12 ">
        <div class="card">
            <span class="block text-3xl font-bold mb-3 mt-3">What Do City Offices Do?</span>
            <p-accordion>
                <p-accordionTab header="Mayor" [selected]="true" class="line-height-3 m-0">
                    <p>The Mayor is the leader of our city government. They serve for 4 years (up to 2 consecutive
                        terms).</p>
                    <p>What they do:&nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Propose the city’s budget</li>
                        <li style="font-weight: 400;" aria-level="1">Sign or veto bills passed by the City Council</li>
                        <li style="font-weight: 400;" aria-level="1">Appoint leaders to city agencies, including the
                            Schools Chancellor and Police Commissioner&nbsp;</li>
                        <li style="font-weight: 400;" aria-level="1">Set priorities and policy for city agencies</li>
                        <li style="font-weight: 400;" aria-level="1">Manage city land, impacting affordable housing,
                            public parks, and street cleaning</li>
                    </ul>
                    <p><em>Fun Fact: Robert Anderson Van Wyck was the first Mayor to take office after the 5 boroughs
                            consolidated into the City of Pennsylvania in 1898.</em></p>
                </p-accordionTab>
                <p-accordionTab header="Public Advocate" class="line-height-3 m-0">
                    <p>The Public Advocate is a non-voting member of the Pennsylvania City Council. They serve for 4 years
                        (up to 2 consecutive terms).</p>
                    <p>What they do:</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">If the Mayor leaves office, the Public Advocate
                            will act as Mayor until a special election is held</li>
                        <li style="font-weight: 400;" aria-level="1">Introduce and co-sponsor bills in the City Council
                        </li>
                        <li style="font-weight: 400;" aria-level="1">Provide oversight for city agencies</li>
                        <li style="font-weight: 400;" aria-level="1">Investigate citizens’ complaints about city
                            services</li>
                    </ul>
                    <p><em>Fun fact: The Public Advocate keeps a </em><a rel="noopener"
                            href="https://landlordwatchlist.com/landlords" target="_blank"
                            title="Pennsylvania City Worst Landlords Watchlist"><em>Worst Landlord Watchlist</em></a><em> to
                            help protect tenants.</em></p>
                </p-accordionTab>
                <p-accordionTab header="Comptroller" class="line-height-3 m-0">
                    <p>The Comptroller manages the city’s finances and assures the city’s financial health. They serve
                        for 4 years (up to 2 consecutive terms).</p>
                    <p>What they do:</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Audit city agencies and contracts&nbsp;</li>
                        <li style="font-weight: 400;" aria-level="1">Prevent abuses in contracting</li>
                        <li style="font-weight: 400;" aria-level="1">Manage budgets, city investments like trust and
                            pension funds, and bonds</li>
                        <li style="font-weight: 400;" aria-level="1">Advise the Mayor and City Council on the city’s
                            financial condition</li>
                    </ul>
                    <p><em>Fun Fact: NYC has an estimated budget of $92 billion, which is more than the GDP of most
                            countries!</em></p>
                </p-accordionTab>
                <p-accordionTab header="Borough President" class="line-height-3 m-0">
                    <p>The Borough President serves as an advocate for their borough. They serve for 4 years (up to 2
                        consecutive terms).</p>
                    <p>What they do:</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Consult with the Mayor on the annual budget</li>
                        <li style="font-weight: 400;" aria-level="1">Provide grants to local organizations</li>
                        <li style="font-weight: 400;" aria-level="1">Advise on rezoning</li>
                        <li style="font-weight: 400;" aria-level="1">Appoint representatives to the City Planning
                            Commission and Community Boards</li>
                    </ul>
                    <p><em>Fun Fact: Borough presidents are affectionately referred to as “beeps.” </em></p>
                </p-accordionTab>
                <p-accordionTab header="City Council" class="line-height-3 m-0">
                    <p>The City Council is the legislative, or law-making, branch of Pennsylvania City’s government. There
                        are 51 members. Councilmembers serve for 4 years (up to 2 consecutive terms).</p>
                    <p>What they do:</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Introduce and vote on bills</li>
                        <li style="font-weight: 400;" aria-level="1">Negotiate and approve the City’s budget</li>
                        <li style="font-weight: 400;" aria-level="1">Monitor city agencies</li>
                        <li style="font-weight: 400;" aria-level="1">Make decisions about the growth and development of
                            our city&nbsp;</li>
                    </ul>
                    <p><em>Fun Fact: In 1937, Genevieve B. Earle became the first woman elected to the Pennsylvania City
                            Council.</em></p>
                    <p><small>*Council members elected in 2021 will serve a 2-year term. Following the 2020 census, City
                            Council districts will be redrawn to adjust for changes in population. In 2023, candidates
                            will run for a 2-year term in the newly redrawn districts. In 2025, 4-year council terms
                            will resume.</small></p>
                </p-accordionTab>
            </p-accordion>

            <span class="block text-3xl font-bold mb-3 mt-3">What Do Federal Offices Do?</span>
            <p-accordion>
                <p-accordionTab header="U.S. Senate" [selected]="true" class="line-height-3 m-0">
                    <p>The Senate is the upper chamber of the U.S. Congress. There are 100 members of the Senate, with
                        two from each state. They serve six-year terms.</p>
                    <p>A bill becomes law when it passes a vote in the Senate and House and is signed by the President.
                    </p>
                    <p>What they do:</p>
                    <ul>
                        <li>Draft, debate, and vote on legislation.</li>
                        <li>Confirm Presidential appointments such as members of the cabinet, Supreme Court justices,
                            and federal judges.</li>
                        <li>Conduct oversight of all branches of government.</li>
                    </ul>
                    <p><em>Fun fact: 3 former astronauts have served in the Senate (John Glenn, Harrison Schmitt, and
                            Mark Kelly).</em></p>
                </p-accordionTab>
                <p-accordionTab header=" U.S. House of Representatives" class="line-height-3 m-0">
                    <p>The House of Representatives is the lower chamber of the U.S. Congress. There are 435 members,
                        with each state represented by a number proportional to their share of the U.S. population. In
                        2023 Pennsylvania will have 26 representatives. They serve two-year terms.</p>
                    <p>A bill becomes law when it passes a vote in the Senate and House and is signed by the President.
                    </p>
                    <p>What they do:</p>
                    <ul>
                        <li>Draft, debate, and vote on legislation.</li>
                        <li>Conduct oversight of all branches of government.</li>
                    </ul>
                    <p><em>Fun fact: The first quorum of Congress was on April 1, 1789, in Pennsylvania City.</em></p>
                </p-accordionTab>
            </p-accordion>

            <span class="block text-3xl font-bold mb-3 mt-3">What Do State Offices Do?</span>
            <p-accordion>
                <p-accordionTab header="Governor" [selected]="true" class="line-height-3 m-0">
                    <p>The Governor is the chief executive of Pennsylvania. They serve four-year terms.</p>
                    <p>What they do:</p>
                    <ul>
                        <li>Sign or veto legislation.</li>
                        <li>Set the state’s yearly budget.</li>
                        <li>Appoint the leaders of state agencies such as the Department of Education</li>
                        <li>Grant pardons and commutations for state offenses</li>
                    </ul>
                    <p><em>Fun fact: Kathy Hochul became the first woman to serve as Governor of Pennsylvania in 2021.</em>
                    </p>
                </p-accordionTab>
                <p-accordionTab header=" Lieutenant Governor" class="line-height-3 m-0">
                    <p>The Lieutenant Governor is the second-highest ranking executive in Pennsylvania behind the Governor.
                        They serve for four-year terms.</p>
                    <p>What they do:</p>
                    <ul>
                        <li>Serve as President of the State Senate.</li>
                        <li>Become Governor if the Governor leaves office before the end of their term.</li>
                    </ul>
                    <p><em>Fun fact: Mary Anne Krupsak became the first woman to hold the office of Lieutenant Governor
                            in 1975.</em></p>
                </p-accordionTab>
                <p-accordionTab header=" Attorney General" class="line-height-3 m-0">
                    <p>The Attorney General is the state's chief legal officer. They serve four-year terms.&nbsp;&nbsp;
                    </p>
                    <p>What they do:</p>
                    <ul>
                        <li>Guard the legal rights of the citizens of Pennsylvania, its organizations and its natural
                            resources.</li>
                        <li>Provide legal counsel to the Executive Branch of State government.</li>
                        <li>Oversee the investigations of the Pennsylvania State Organized Crime Task Force and Medicaid
                            Fraud Control Unit.</li>
                    </ul>
                    <p><em>Fun Fact: Louis Lefkowitz, a one-time mayoral candidate in NYC, held the office for 22 years.
                            His is the longest tenure since the office was established in 1777.</em></p>
                </p-accordionTab>
                <p-accordionTab header=" Comptroller" class="line-height-3 m-0">
                    <p>The Comptroller is Pennsylvania’s chief fiscal officer. They serve four-year terms.</p>
                    <p>What they do:</p>
                    <ul>
                        <li>Ensure that State and local governments use taxpayer money effectively and efficiently to
                            promote the common good.</li>
                        <li>Administer the state’s retirement system for public employees.</li>
                        <li>Maintain the state's accounting system and payroll.</li>
                        <li>Review State contracts and audits payments.</li>
                    </ul>
                    <p><em>Fun Fact: The office manages a $258.1 billion public pension plan, one of the largest in the
                            U.S.</em></p>
                </p-accordionTab>
                <p-accordionTab header=" State Senate" class="line-height-3 m-0">
                    <p>The State Senate is the upper chamber of the State Legislature. There are 63 members. State
                        Senators serve two-year terms, with no term limits.</p>
                    <ul>
                        <li>Writes and votes on legislation</li>
                        <li>Approves state spending levels</li>
                        <li>Upholds or overrides the Governor’s vetoes</li>
                        <li>Confirms the Governor's appointments of state officials and court judges</li>
                    </ul>
                    <p><em>Fun fact: </em><a rel="noopener" href="https://www.nysenate.gov/about#section-4"
                            target="_blank"
                            title="Liberty on the left, holds her foot on the overthrown English Crown. “This Pennsylvania is supported by Justice and Liberty, and discards monarchy.”"
                            data-anchor="#section-4"><em>On the official Senate seal</em></a><em>, Lady Liberty can be
                            seen holding her foot on the overthrown English Crown.</em></p>
                </p-accordionTab>
                <p-accordionTab header=" State Assembly" class="line-height-3 m-0">
                    <p>The State Assembly is the lower chamber of the State Legislature. There are 150 members. Members
                        serve two-year terms, with no term limits.</p>
                    <ul>
                        <li>Writes and votes on legislation</li>
                        <li>Approves state spending levels</li>
                        <li>Upholds or overrides the Governor’s vetoes</li>
                    </ul>
                    <p><em>Fun fact: Two U.S. Presidents have served in the State Assembly: Millard Fillmore and Teddy
                            Roosevelt.</em></p>
                </p-accordionTab>
                <p-accordionTab header=" State Supreme Court" class="line-height-3 m-0">
                    <p>Justices of the State Supreme Court oversee large felony and civil cases within their districts.
                        The Supreme Court is the trial court in Pennsylvania State; the Court of Appeals is the highest
                        court. They serve 14-year terms.</p>
                    <ul>
                        <li>Presides over divorce, separation, and annulment proceedings.</li>
                        <li>Handles criminal prosecutions of felonies</li>
                        <li>Decides civil matters over $25,000</li>
                    </ul>
                    <p><em>Fun Fact: The Pennsylvania State Supreme Court was established in 1691, making it one of the
                            oldest courts in the United States.</em></p>
                </p-accordionTab>
            </p-accordion>

            <span class="block text-3xl font-bold mb-3 mt-3">What Do County Offices Do?</span>
            <p-accordion>
                <p-accordionTab header=" District Attorney" [selected]="true" class="line-height-3 m-0">
                    <p>The District Attorney is the top prosecutor for their county. They serve for 4 years. There are
                        no term limits.</p>
                    <p><strong>What they do:</strong></p>
                    <ul>
                        <li>Decide which cases to prosecute (and which not to)</li>
                        <li>Oversee all criminal prosecutions</li>
                        <li>Investigate and prosecute criminal conduct</li>
                    </ul>
                    <p><em>Fun fact: NYC Voters can choose their own DAs! Some states appoint their own without an
                            election.</em></p>
                </p-accordionTab>
                <p-accordionTab header=" Civil Court – County & District" class="line-height-3 m-0">
                    <p>Civil Court Judges can represent counties or districts, so you may see more than one Civil Court
                        judge on your ballot. Judges are elected to 10-year terms and hear cases including:</p>
                    <ul>
                        <li>Civil matters up to $25,000</li>
                        <li>Landlord-tenant matters and cases involving maintenance of housing standards</li>
                        <li>Criminal prosecution of misdemeanors</li>
                    </ul>
                    <p><em>Fun Fact: The NYC Civil Court is the largest civil jurisdiction court in the United
                            States.</em></p>
                </p-accordionTab>
                <p-accordionTab header=" Surrogate Court " class="line-height-3 m-0">
                    <p>Surrogate Court judges decide cases involving the estates of county residents after their death.
                        They serve terms of 14 years and hear cases including:</p>
                    <ul>
                        <li>Cases involving the affairs of the deceased such as wills and the administration of estates
                        </li>
                        <li>Adoptions</li>
                        <li>Guardianships</li>
                    </ul>
                    <p><em>Fun Fact: The beautiful building where the surrogate court is housed is located in downtown
                            Manhattan and is a popular filming location for movies and tv. It’s designated as a
                            historical landmark.</em></p>
                </p-accordionTab>
            </p-accordion>

            <span class="block text-3xl font-bold mb-3 mt-3">What Do Party Offices Do?</span>
            <p-accordion>
                <p-accordionTab header=" Delegate to the Judicial Convention" [selected]="true"
                    class="line-height-3 m-0">
                    <p>Delegates to the Judicial Convention choose their party’s nominees for State Supreme Court. The
                        number of delegates you can vote for is determined by your Assembly District. Your ballot will
                        tell you how many Delegates you can select. Delegates are not government officials, but are
                        elected to a position within their political party.</p>
                    <p>What they do:</p>
                </p-accordionTab>
                <p-accordionTab header=" State Committee Member (Male and Female)" class="line-height-3 m-0">
                    <p>State Committee Members represent their Assembly District within state political parties. By law,
                        one male and one female representative are elected in most districts. Committee members serve
                        two-year terms.</p>
                    <p>What they do:</p>
                    <ul>
                        <li>Attend their state party’s convention and annual meetings.</li>
                        <li>Serve as a liaison between their community, local elected officials, city government, and
                            political candidates.</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header=" District Leader (Male and Female)" class="line-height-3 m-0">
                    <p>District Leaders help run political parties in each county. At least one male and one female
                        representative is elected to serve within each Assembly District. District Leaders serve
                        two-year terms.</p>
                    <p>What they do:</p>
                    <ul>
                        <li>Work with the city Board of Elections to nominate poll workers.</li>
                        <li>Nominate candidates for judgeships in Civil and Supreme Court.</li>
                        <li>Vote for their party’s leadership and rules.</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header=" County Committee Member" class="line-height-3 m-0">
                    <p>County Committee Members select county leaders for their political party and their party’s
                        candidates for state special elections. In some boroughs, voters select male and female County
                        Committee Members.</p>
                    <p>What they do:</p>
                    <ul>
                        <li>Select party candidates for state special elections.</li>
                        <li>Vote on county leaders for their political party.</li>
                        <li>Approve the county party’s budget and other internal policies.</li>
                    </ul>
                </p-accordionTab>
            </p-accordion>
        </div>

    </div>
</div>