<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Your vote can  </span>
            <div class="text-6xl text-primary font-bold mb-3">change the Constitution.</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Proposals in this election are for amendments to the State Constitution. There are two statewide proposals on the ballot this fall. You can vote “Yes” or “No” on each of these proposals. Ballot proposals are approved if they receive a majority of the vote.   </p>
            <p class="mt-0 mb-4 text-700 line-height-3">The Pennsylvania State Legislature proposes statewide ballot measures for Pennsylvaniaers to vote on.</p>
            <p class="mt-0 mb-4 text-700 line-height-3"> Below are summaries of the two proposals.</p>
               
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/demo/images/blocks/hero/shero.jpeg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    <div class="col-12 ">
        <div class="card">
            <span class="block text-3xl font-bold mb-3 mt-3">2023 General Election Ballot Proposals</span>
            <p-accordion>
                <p-accordionTab header="Extending sewage project debt exclusion from debt limit" [selected]="true" class="line-height-3 m-0">
                   
                    <p>What the Proposal Says: &nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">The proposed amendment to Article 8, section 5 of the Constitution extends for ten years the authority of counties, cities, towns, and villages to remove from their constitutional debt limits debt for the construction of sewage facilities. Shall the proposed amendment be approved?</li>
                    </ul>


                    <p>What the Proposal Means: &nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">If passed, sewage debt for treatment, disposal, and construction projects will not count as debt for counties, cities, towns, and villages in the state. This debt is already excluded but that exception will expire on January 1, 2024. This would extend the exception until January 1, 2034.</li>
                    </ul>
                    
                    <p>If this Proposal Passes:  &nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Spending on the treatment and disposal of sewage will not be included in the amount of debt allowed throughout the state for 10 more years.</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Removal of small city school districts debt limit" [selected]="true" class="line-height-3 m-0">
                   
                    <p>What the Proposal Says: &nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">The proposed amendment to Article 8, section 4 of the Constitution removes the special constitutional debt limitation now placed on small city school districts, so they will be treated the same as all other school districts. Shall the proposed amendment be approved?</li>
                    </ul>


                    <p>What the Proposal Means: &nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">If passed, spending and debt restrictions placed on small city school districts will be eliminated. A “small city” has less than 125,000 people. If this proposal passes, small city school districts would be allowed to have the financial flexibility of other school districts. School districts with more residents do not have specific debt limits.</li>
                    </ul>
                    
                    <p>If this Proposal Passes:  &nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Small city school districts will not be limited in spending used to maintain and improve school facilities and address the needs of its students.</li>
                    </ul>
                </p-accordionTab>
            
            </p-accordion>

        </div>

    </div>
</div>