<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Who Represents Me?</span>
            <div class="text-6xl text-primary font-bold mb-3">How to find them: </div>
            <p class="mt-0 mb-4 text-700 line-height-3">Districts are responsible for passing an annual budget, hiring staff, and much more. Traditional school districts are also required by state law to have a publicly elected school board.</p>
            <p class="mt-0 mb-4 text-700 line-height-3">Enter your address using the website below to find more information. <a class="externallink" target="_blank" href="https://www.gis.lcc.mn.gov/iMaps/schooldistricts/">School Districts</a></p>
               
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/demo/images/blocks/hero/school.png" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    


</div>