<div class="mainpage">
    <div class="grid grid-nogutter flex justify-content-between">
        <div class="col-12 xl:col-6 flex justify-content-center align-items-center xl:align-items-start flex-column">
            <div>
                <h1 class="line-height-3 text-4xl">Perfect CSS Utility Companion</h1>

                <p class="line-height-3 m-0">PrimeFlex is a lightweight responsive CSS utility library to accompany Prime UI libraries
                    and static webpages as well.</p>
            </div>
        </div>
    </div>
</div>
<div class="steps flex align-items-center justify-content-between mb-5 gap-5">
    <div class="card">
        <p-steps [model]="items" [readonly]="false"></p-steps>
    </div>
</div>


