<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Vote Page</h4>
            <p>You can send your vote by Email.</p>

            <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                
                <li class="flex align-items-center py-2">
                    <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                        <a href="/assets/demo/data/vote.pdf" download="vote.txt">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </a>
                    </div>
                    <span class="text-700 line-height-3">
                        Please 
                        <a href="/assets/demo/data/vote.pdf" download="vote.pdf">
                            download
                        </a>
                        & print PDF to vote.</span>
                </li>
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <a href="mailto:vote@gmail.com?subject=My Vote;body=My Vote.">
                            <i class="pi pi-send text-xl text-blue-500"></i>
                        </a>
                    </div>
                    <span class="text-900 line-height-3">
                        <span class="text-700">
                            <a href="mailto:vote@gmail.com?subject=My Vote;body=My Vote.">
                                Send
                            </a>
                            your vote to us
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
