<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">How to find polling location?</span>
            <p class="mt-0 mb-4 text-700 line-height-3">Your assigned polling place is based on where you live. Enter your street address and city to <a class="externallink" target="_blank" href="https://www.vote.org/polling-place-locator/">Polling Location</a></p>
               
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/demo/images/blocks/hero/school.png" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    


</div>