<div class="grid">
<div class="col-12 md:col-6 p-6 text-center md:text-right flex align-items-center ">
    <section>
        <span class="block text-6xl font-bold mb-1"> Volunteers power </span>
    <div class="text-6xl text-primary font-bold mb-3">RCPY VOTES!</div>
    <p class="mt-0 mb-4 text-700 line-height-3">You are the key to keeping Pennsylvania City’s democracy strong! Take action and become a NYC Votes Volunteer today. </p>
    <p class="mt-0 mb-4 text-700 line-height-3">Volunteers ensure their fellow Pennsylvaniaers have the information and support they need to make their voices heard. Join our phone banks, text banks, or serve as a trusted messenger in your community!</p>
    </section>
</div>
<div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/demo/images/landing/votes-1.jpg" alt="Image" class=" block md:h-full"
        style="width: 500px;padding-top: 20px;">
</div>
</div>
<div class="card">
    <h5>Customized</h5>
    <p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
        <span class="flex z-1 w-2rem h-2rem align-items-center justify-content-center text-white border-circle shadow-2" [style.backgroundColor]="event.color">
            <i [ngClass]="event.icon"></i>
        </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date">
                <img *ngIf="event.image" [src]="'assets/demo/images/product/' + event.image" [alt]="event.name" width="200" class="shadow-2" />
                <p class="line-height-3 my-3">{{event.description}}</p>
            </p-card>
        </ng-template>
    </p-timeline>
</div>
