<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Entire City Council </span>
            <div class="text-6xl text-primary font-bold mb-3">is on the ballot!  </div>
            <p class="mt-0 mb-4 text-700 line-height-3">You’ll vote for the future of your neighborhood—from Baychester to Bed Stuy! </p>
            <p class="mt-0 mb-4 text-700 line-height-3">In fact, your vote in local elections can have a bigger impact on your daily life than national elections. Our city’s laws begin as legislation drafted and voted on by the City Council. They have recently voted on issues like paid sick leave, childcare services, and salary transparency.</p>
            <p class="mt-0 mb-4 text-700 line-height-3"> In addition to the City Council, you will also vote for District Attorney, Civil Court Judges, and Ballot Proposals.</p>
               
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/demo/images/blocks/hero/saket.jpeg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    


</div>